

.Tarjeta{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: darkslategrey;
    border-radius: 25px;
    background-image:url(./otwfondo.jpg);
}
.Nombre-jugador
{
    color:orange;
    padding: 0px;
    margin: 0px;
}
.elementos-listaa{
  display: flex;
  font-size: 20px;
  margin-bottom: 5px;
}
.Imagen{
    height: 250px;
    width: 250px;
    
    
    justify-self: center;
    margin-left: 25px;
    margin-top: 25px;
}