.Navegation{
    background-color: darkgreen;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
     position: sticky;     /* no estaria entendiendo porque no me toma el position sticky*/
    border: solid whitesmoke;
 
    
}
li{
    list-style: none;
    display: inline;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 24px;
   border-radius: 20px;
   padding-bottom: 2px;
   color: whitesmoke;
   text-decoration: none;
   
   
}
:hover.elementos-lista{
    background-color: whitesmoke;
    cursor: pointer;
    color: darkgreen;
}

.link{
    text-decoration: none;
}